<h1>My Tasks</h1>

<% @tasks.each do |task| %>
  <div>
    <% checked = task.completed ? "checked" : "" %>
    <input type="checkbox" id="<%= task.title %>" name="scales" <%= checked %>/>
    <label for="<%= task.title %>"><%= link_to task.title, task_path(task) %></label>
  </div>
<% end %>

<p><%= link_to "create task", new_task_path %></p>
